* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

body {
  background-color: #282d35;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  background-color: #21222a;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  width: 50px;
}

.name {
  padding: 10px;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.info {
  color: #ffffff;
  font-weight: 600;
}

main {
  padding: 40px 20px;
  color: #ffffff;
  background-image: url('./assets/icons/react-icon-large.png');
  background-repeat: no-repeat;
  background-position: right 85%;
}

ul {
  padding: 20px 40px;
}

li {
  padding-top: 10px;
}

li::marker {
  color: #61dafb;
  font-size: 1.3rem;
}
